<div id="container">
  <div class="note white" (touchstart)="play('C')" (touchend)="stop('C')"></div>
  <div class="note white" (touchstart)="play('D')" (touchend)="stop('D')"></div>
  <div class="note white" (touchstart)="play('E')" (touchend)="stop('E')"></div>
  <div class="note white" (touchstart)="play('F')" (touchend)="stop('F')"></div>
  <div class="note white" (touchstart)="play('G')" (touchend)="stop('G')"></div>
  <div class="note white" (touchstart)="play('A')" (touchend)="stop('A')"></div>
  <div class="note white" (touchstart)="play('B')" (touchend)="stop('B')"></div>
  <div id="black-container">
    <div class="note black c" (touchstart)="play('Cs')" (touchend)="stop('Cs')"></div>
    <div class="note black d" (touchstart)="play('Ds')" (touchend)="stop('Ds')"></div>
    <div class="note black f" (touchstart)="play('Fs')" (touchend)="stop('Fs')"></div>
    <div class="note black g" (touchstart)="play('Gs')" (touchend)="stop('Gs')"></div>
    <div class="note black a" (touchstart)="play('As')" (touchend)="stop('As')"></div>
  </div>
</div>

<!-- <div class="note"></div>
<div class="note"></div>
<div class="note"></div>
<div class="note"></div>
<div class="note"></div> -->
