<div id="container">
  <div class="note white" (mousedown)="play('C')" (mouseup)="stop('C')"></div>
  <div class="note white" (mousedown)="play('D')" (mouseup)="stop('D')"></div>
  <div class="note white" (mousedown)="play('E')" (mouseup)="stop('E')"></div>
  <div class="note white" (mousedown)="play('F')" (mouseup)="stop('F')"></div>
  <div class="note white" (mousedown)="play('G')" (mouseup)="stop('G')"></div>
  <div class="note white" (mousedown)="play('A')" (mouseup)="stop('A')"></div>
  <div class="note white" (mousedown)="play('B')" (mouseup)="stop('B')"></div>
</div>

<!-- <div class="note"></div>
<div class="note"></div>
<div class="note"></div>
<div class="note"></div>
<div class="note"></div> -->
